# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
venv/
.venv/

# Distribution / packaging
build/
dist/

# pyenv
.python-version

# MyPy cache
.mypy_cache/

# Logs and temporary files
*.log
*.tmp
*.temp
*.bak
*.swp
*.swo
*.DS_Store
*.~undo-tree~

# IDE-specific files
.idea/
#.vscode/
*.sublime-project
*.sublime-workspace

# System-specific files
.DS_Store
Thumbs.db
