/* ---------------------------------------- INSIDE MAIN */
main {
    flex-direction: row;
    padding: .5rem;
}

/*
main {
    background-color: tomato;
}
*/

main > * {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1rem;
    margin: .5rem;
    padding: 1rem;
}

@media screen and (max-width: 720px) {
    main {
        flex-direction: column;
    }

    main > * {
        width: 100%;
        height: 50%;
    }
}

.topbar {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topbar > * {
    margin: 0;
}

/* ------------------------------------------ TABLE */
table {
    width: 100%;
}

.tableDiv {
    flex: 1 1 auto;
    display: flex;
    overflow: auto;
}

tbody tr {
    cursor: pointer;
}

thead {
    /**/
    position: sticky;
    top: 0; /* height of the topbar */
}

.normal {
    background-color: lightgrey;
}

.collision {
    background-color: coral;
}

.disconnected {
    background-color: red;
}

/* ------------------------------------------ TABLE DARK MODE */
.darkMode .normal {
    background-color: darkgrey;
}

.darkMode .collision {
    background-color: chocolate;
}

.darkMode .disconnected {
    background-color: darkred;
}

/* ------------------------------- RIGHT */
.rightDiv {
    display:flex;
    justify-content: center;
    align-content: center;
}