main {
    flex-direction: column;
}

.submitButton {
  border-radius: 8px;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap
}

.warning {
    color: red;
    display: none;
}

form, button {
    background-color: lightgrey;
    outline: #121212 3px;
    transition: .4s;
}

form {
    display:flex;
    padding: 2rem;
    flex-direction: column;
}

button {
    margin-top: 1rem;
    cursor: pointer;
}

form.hidden {
    display: none;
}

.clear {
    background-color: transparent;
    color: inherit;
    box-shadow: none;
}

.signInUpButtons {
    justify-self: left;
}

/* ------------------------------- DARK MODE */
.darkMode main #centerDiv form {
    background-color: #2e2e2e;
    transition: .4s;
}

.darkMode main #centerDiv #signInUp button:not(.clear) {
    background-color: #2e2e2e;
    transition: .4s;
}