body {
    background-color: white;
    color: black;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    -webkit-transition: .4s;
    transition: .4s;
}

body > * {
    padding: 1rem;
}

/* --------------------- HEADER & FOOTER */
header, footer {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

.right {
    position: fixed;
    right: 0;
}

.blue {
    background-color: #1961ac;
}

.warning {
    color: red;
    display: none;
}

form, button {
    background-color: lightgrey;
    outline: #121212 3px;
}

form {
    padding: 2rem;
}

button {
    border: none;
    padding: 1rem 2rem 1px 2rem;
    border-radius: 0.5rem 0.5rem 0 0;

}

form.hidden {
    display: none;
    white-space: nowrap;
}


/* ------------------------------- NAV */
.navbar-nav{
    flex-direction: row;
    justify-content: space-around;
    margin-right: 5rem;
    width: 15vw;
    min-width: 200px;
    align-items: center;
}

.nav-message{
    text-wrap-mode: nowrap;
}

.navbar-nav .nav-link {
    padding-right: 10px;
    padding-left: 10px;
}

.clear {
    background-color: transparent;
    color: inherit;
    box-shadow: none;
}

.grid {
    display: grid;
}

.darkMode {
    color: #FFFFFF;
    background-color: #222222;
}

.darkMode form {
    color: black;
}

/* -------------------------------dark mode slider */
.switch {
    position: relative;
    cursor: pointer;
    align-items: center;
    width: 60px;
    height: 34px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}
#sliderIMG {
    position: absolute;
    padding-top: 4px;
    padding-left: 4px;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}
input:checked + #sliderIMG.animate {
    animation-name: slideAnimation;
    animation-duration: .4s;
}
input:not(:checked) + #sliderIMG.animate {
    animation-name: backslideAnimation;
    animation-duration: .4s;
}
@keyframes slideAnimation {
    from {left: 0px;}
    to {left: 26px;}
}
@keyframes backslideAnimation {
    from {left: 26px;}
    to {left: 0px;}
}
input:checked ~ .slider{
    background-color: #222222;
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

.form-inline{
    padding: 2px;
}

.tableId{
    font-size: 20px;
} 



/*
body:has(header:has(#darkModeToggle:checked)) {
    background-color: #121212;
    color: white;
    -webkit-transition: .4s;
  transition: .4s;

    form {
        color: black;
    }
}
*/ /*# sourceMappingURL=style.css.map */


/* --------------------------------------------------------------------- TABLES STUFF */

.deskGrid {
    border: 1px solid black;
    margin: 1rem;
}

.deskGrid * {
    border: 1px solid black;
}