body {
    background-color: green;
    font-family: Gill Sans, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.topbar {
    background-color: blue;
    position: absolute;
}

.login {
    background-color: red;
    display: grid;
}

.textInput {
    color:pink;
}