$linakBlue: #1961ac;

body {
    background-color: white;
    color: black;
    font-family: Montserrat,"Helvetica Neue", Helvetica, Arial, sans-serif; /* Linak font */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    border: none;
    background-color: lightgrey;
    padding: 1px 1rem;
}

.clear {
    background-color: transparent;
    color: inherit;
    box-shadow: none;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.blue {
    background-color: $linakBlue;
}

.warning {
    color: red;
    visibility: hidden;
}

form {
    background-color: lightgray;
    padding: 1rem;
    box-shadow: 0 4px 6px 2px black;
}

.grid {
    display: grid;
}

.darkMode {
    background-color: #121212;
    color: white;
}