{% extends "app/layout.html" %}

<!--{% block title %} Login {% endblock %}-->

{% load static %}


{% block content %}
<main>
    <div>
        <button id="loginBtn">Sign in</button>
        <button id="signupBtn" class="clear">Sign up</button>
    </div>
    <form action="/login" method="post" class="grid">
        {% csrf_token %}
        <label for="username">Username:</label>
        <!--<input name="username" class="textInput" placeholder="">-->
            {{form.username}}
        <label for="password">Password:</label>
        <!--<input name="password" class="textInput" placeholder="">-->
            {{form.password}}
        <!--<span class="warning">Wrong username or password.</span>-->
            {{errors}}
        <div>
            {{form.rememberPass}}
            <!--<input type="checkbox" id="rememberMe" name="rememberMe">-->
            <label for="rememberMe">Remember me</label>
        </div>
        <input type="submit" class="blue" value="Continue">
    </form>
    <!--
    <form  id="signupForm" class="grid hidden">
        <label for="username">Username:</label>
        <input name="username" class="textInput">
        <span class="warning">Username already in use.</span>
        <label for="password">Password:</label>
        <input name="password" class="textInput">
        <label for="confirmPassword">Confirm Password:</label>
        <input name="confirmPassword" class="textInput">
        <span class="warning">Passwords don't match.</span>
        <input type="submit" class="blue" value="Continue">
    </form>
    -->
</main>
<footer class="blue">
    <p>&copy; 3AM Vibe Coders. All rights reserved.</p>
</footer>

{% endblock %}


{% block scripts %}

    {% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
